{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}narvar{% endblock %}</title>
    {% block extra_css %} {% endblock %}
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/base.css">

    
</head>
<body>
    <nav class="navbar has-background-primary-15 has-text-primary-15-invert" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-primary-15-invert" href="https://bulma.io">logo</a>
            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end ">
            <div class="navbar-start">
                <a class="navbar-item has-text-primary-15-invert">
                    <form action="{% url 'menuinit' %}" method="get">
                        <button type="submit">JUGADORES</button>
                    </form>
                </a>
          
                <a class="navbar-item has-text-primary-15-invert">
                  VALORACIONES
                </a>
          
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>

<!--mi formulario-->
  
    <div class="container">
      <div class="row mt-5 mx-5">
          <H1 style="text-align: center;">Registro de jugadores</H1>
          <div class="col-sm-8">
              <form>
                  <div class="row">
                      <div class="col-sm-6 mb-3">
                          <label for="name" class="form-label">Nombres</label>
                          <input type="text" class="form-control" id="txtname"name="txtname">
                      </div>    
                      <div class="col-sm-6 mb-3">
                          <label for="apellido" class="form-label">Apellidos</label>
                          <input type="text" class="form-control" id="txtname" name="txtname">
                      </div>
                  </div>   
                  <div class="row">    
                      <div class="col-sm-6 mb-3">
                          <label for="date" class="form-label">Fecha de nacimiento</label>
                          <input type="date" class="form-control" id="date" name="date">
                      </div>
  
                      <div class="col-sm-6 mb-3">
                          <label for="form-select" class="form-label">Nacionalidad</label>
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Selecione su nacionalidad</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
  
                                  
                  </div> 
                  <div class="row">    
                      <div class="col-sm-2 mb-3">
                          <label for="form-select" class="form-label">Posicion</label>
                          <select class="form-select" aria-label="Default select example">
                              <option></option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>    
                      <div class="col-sm-2 mb-3">
                          <label for="name" class="form-label">Peso</label>
                          <input type="text" class="form-control" id="txtname"name="txtname" placeholder="KG">
                      </div>
                      <div class="col-sm-2 mb-3">
                          <label for="name" class="form-label">Altura</label>
                          <input type="text" class="form-control" id="txtname"name="txtname"placeholder="CM">
                      </div>
                      <div class="col-sm-2 mb-3">
                          <label for="name" class="form-label">pierna habil</label>
                          <input type="text" class="form-control" id="txtname"name="txtname">
                      </div>
                      <div class="col-sm-4 mb-3">
                          <label for="name" class="form-label">telefono</label>
                          <input type="text" class="form-control" id="txtname"name="txtname">
                      </div>             
                  </div>  
              </form>
          </div>
          <div class="col-sm-4">
              <label for="name" class="form-label">Foto</label>
              <div class="border p-4 rounded bg-white mt-4" style="text-align: center; width: 150px; height: 225px; margin: auto;">
                  <input type="file" id="uploadImage" accept="image/*" style="display: none;" />
                  <div class="border border-dashed p-3 rounded" onclick="document.getElementById('uploadImage').click();" style="cursor: pointer;">
                    <p class="text-muted">Haz clic aquí o arrastra una imagen</p>
              </div>
          </div>
      </div>
      <div class="col-sm-8">
          <div class="d-grid gap-2 col-6">
              <button class="btn btn-success" type="button" onclick="location.href='listjugadores'">Cargar nuevo jugador</button>
          </div>
      </div>
  </div>

<!-- vcositas de formulario jugador"> -->
  {% load static %}
<div class="container">
    <div class="row">
        <form enctype="multipart/form-data" method="post" action="{{ action_save }}">
            {% csrf_token %}
            <div >
                <label for="name" class="form-label">Nombres</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.nombre }}
            </div>
            <div>
                <label for="name" class="form-label">Apellidos</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.apellido }}
            </div>
            <div>
                <label for="name" class="form-label">Fecha de nacimiento</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.fecha_nac }}
            </div>
            <div>
                <label for="name" class="form-label">Nacionalidad</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.pais }}
            </div>
            <div>
                <label for="name" class="form-label">Altura</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.altura }}
            </div>
            <div>
                <label for="name" class="form-label">Peso</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.peso }}
            </div>
            <div>
                <label for="name" class="form-label">Pierna Habil</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.pierna_habil }}
            </div>
            <div>
                <label for="name" class="form-label">Foto</label>
                <!-- <input type="text" class="form-control" id="txtname"name="txtname"> -->
                {{ form.imagen }}
            </div>

            {% include 'botones.html' %}
        </form>
    </div>
</div> 

<!-- {% block js %}
<script type="application/javascript">

    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error|escapejs }}<br>';  // Cada error de campo en una nueva línea usando <br>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error|escapejs }}<br>';  // Cada error no asociado a un campo en una nueva línea usando <br>
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            html: errors,  // Usamos html en lugar de text para interpretar <br> como saltos de línea
            icon: 'error',
            customClass: {
                popup: 'swal2-popup',
                title: 'swal2-title',
                content: 'swal2-content'
            }
        });
    {% endif %}

    </script>

{% endblock %} -->

</body>
</html>